/* GENERAL -----------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}
h1 {
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-wrap: nowrap;
    font-size: 3vw;
    width: 35%;
    padding: 5% 0% 3% 5%;
}
h2 {
    text-align: center;
    font-size: 2vw;
    padding: 10px 0;
    color: #fff;
}
h3 {
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    font-size: 1.5vw;
    font-weight: normal;
    white-space: pre-line;
    padding: 0% 0% 5% 5%;
}
p {
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    font-size: 1.5vw;
    white-space: pre-line;
    padding: 0% 0% 5% 5%;
}
button {
    align-items: center;
    background: 0 0;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 2vw;
    font-weight: bold;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 15px 25px;
    text-overflow: ellipsis;
    transition: all .10s ease-out;
    white-space: nowrap;
}
button:hover {
    box-shadow: 5px 5px 0 #ffffff;
    transform: translate(-5px,-5px);
}
button:focus-visible{
    outline-offset: 1px;
}
a {
    color: inherit;
    text-decoration: inherit;
}

/* NAVIGATION BAR -----------------------------------*/
.navbar_section {
    background: hsl(231, 23%, 12%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    height: 65px;
    padding: 0px 40px 0px 40px;
    margin: auto;
    font-size: 1.2rem;
    z-index: 999;
}
.navbar_title {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.navbar_title:hover{ 
    color: #00e0a8;
    transition: all 0.3s ease;
}
.navbar_links {
    display: flex;
    list-style: none;
}
.navbar_link {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
}
.navbar_link:hover{ 
    color: #00e0a8;
    transition: all 0.3s ease;
}

/* ABOUT SECTION ------------------------------------*/
.about_section {
    display: flex;
    align-items: center;
    background-image: linear-gradient(45deg, hsl(235, 23%, 32%), #00e0a8);
    justify-content: center;
    width: 100%;
} 
.about_section img {
    width: 100%;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    min-height: 400px;
    max-width: 600px;
    max-height: 600px;
    padding: 30px 30px 30px 30px;
    border-radius: 50%;
}
.about_div_1 {
    display: grid;
    align-items: center;
}

/* PROJECTS SECTION ---------------------------------*/
.projects_section{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: hsl(231, 23%, 12%);
    width: 100%;
}
.projects_section h1{
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2% 0% 2% 0%;
}
.projects_div_1 {
    display: inline-block;
    column-count: 5;
    column-width: 300px;
    column-gap: 25px;
    padding: 0% 0% 3% 0%;
}
.project_tile {
    display: block;
    background-color: hsl(0, 0%, 100%);
    border: 0;
    border-radius: 10px;
    padding: 10px;
    margin: 0 1em 1em 1em;
    break-inside: avoid;
    page-break-inside: avoid;
    transition: transform .2s;
    will-change: transform;
    cursor: pointer;
}
.project_tile:hover {
    transform: translateY(-4px);
}
.project_tile:active{
    transform: translateY(4px);
}
.project_tile img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border: 0;
    border-radius: 10px;
}
.project_tile_description {
    padding: 15px;
    text-align: center;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.project_tile_description h3 {
    color:black;
}

/* PROJECT POPUPS -----------------------------------*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity 0.3s ease;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    background: #fff;
    border-radius: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    max-height: 85%;
}
.popup_div_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup_close {
    padding: 0% 5% 0% 0%;
    text-align: right;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
.popup_close:hover {
    color: #00e0a8;
    transition: all 0.3s ease;
}
.popup h2 {
    padding: 0% 0% 0% 5%;
    text-align: left;
    color: #000000;
}
.popup p {
    margin-top: 10px;
    color: #000000;
    overflow: auto;
    padding-right: 5px;
}
.popup img {
    object-fit: cover;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    max-height: auto;
    max-width: 95%;
}

/* CONTACT SECTION ---------------------------------*/
.contact_section {
    background-image: linear-gradient(90deg, hsl(235, 23%, 32%), #00e0a8);
    display: flex;
    align-items: center;
}
.contact_div_1 {
    width: 100%;
    display: grid;
    align-items: left;
    text-align: left;
    font-size: 2vw;
    color: #fff;
}
.contact_div_1 h1 {
    padding: 5% 0% 2% 5%;
}
.contact_div_1 h3 {
    padding: 0% 0% 2% 5%;
}
.contact_div_1_buttons {
    display: flex;
    gap: 15px;
    padding: 0% 0% 2% 5%;
}

/* MOBILE MODE --------------------------------------*/
@media screen and (max-width: 960px) {
    h1 {
        font-size: 4.5vw;
    }
    h2 {
        font-size: 3.5vw;
    }
    h3 {
        font-size: 3vw;
    }
    p {
        font-size: 3vw;
    }
    .navbar_section {
        padding: 0px 0px 0px 0px;
    }
    .navbar_title {
        padding-left: 25px;
    }
    .navbar_links {
        background: hsl(231, 23%, 12%);
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 20vh;
        z-index: -1;
    }
    .navbar_links.active {
        background: hsl(231, 23%, 12%);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        height: 20vh;
        font-size: 1.5rem;
        z-index: -1;
    }
    .navbar_link {
        display: table;
        text-align: center;
        padding: 0;
        width: 100%;
    }
    .navbar_hamburger .bar {
        background: #fff;
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    .navbar_hamburger {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 30%);
    }
    .navbar_hamburger.is-active .bar:nth-child(2) { /* Rotate two of the hamburger bars into an X, make the other transparent */
        opacity: 0;
    }
    .navbar_hamburger.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar_hamburger.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .about_section img {
        min-width: 200px;
        min-height: 200px;
        padding: 15px 15px 15px 15px;
    }
    .projects_div_1 {
        padding: 0% 10% 3% 10%;
    }
    .popup {
        width: 95%;
        height: auto;
        width: 95%;
        max-height: 85%;
    }
    .popup img {
        max-height: auto;
        max-width: 95%;
    }
}